<h1>Sign up as a new user</h1>
<%% @<%= file_name %>.password = @<%= file_name %>.password_confirmation = nil %>

<%% form_for :<%= file_name %>, :url => <%= file_name %>_register_path do |f| -%>
<%%= f.error_messages %>
<p><%%= label_tag 'login' %><br/>
<%%= f.text_field :login %></p>

<p><%%= label_tag 'email' %><br/>
<%%= f.text_field :email %></p>

<p><%%= label_tag 'password' %><br/>
<%%= f.password_field :password %></p>

<p><%%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%%= f.password_field :password_confirmation %></p>

<p><%%= submit_tag 'Sign up' %></p>
<%% end -%>